body {
    background-color: 	#F5FFFA;
    font-family: Verdana;
    width: 80%;
    align-content: center;
}

nav ul li {
    background-color: 	#4682B4;
    list-style: none;
    display: inline;
    padding: 0.5em;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: 	white;
}

h1{
    margin-left: 3%;
}

