<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title th:text="${title}"/>
    <!--<link rel="stylesheet" th:href="">-->
</head>

<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/categorieen}">Categorieën</a></li>
        <li><a th:href="@{/mandje}">Mandje</a></li>
        <li><a th:href="@{/lijst}">Wenslijst</a></li>
        <li><a th:href="@{/klant}">Klant</a></li>
        <li><a th:href="@{/login}">Aanmelden</a></li>
        <li>
            <form method="post" th:action="@{/logout}" >
                <input type="submit" value="Afmelden">
            </form>
        </li>
    </ul>
    <span sec:authentication="name"></span>
</nav>

