<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/klantStyleSheet.css}">
</head>

<head th:fragment="klantHead(title)" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/klantStyleSheet.css}">
</head>


<nav class="clearfix" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/categorieen}">Categorieën</a></li>
        <li><a th:href="@{/mandje}">Mandje</a></li>
        <li><a th:href="@{/lijst}">Wenslijst</a></li>
        <li><a th:href="@{/klant}">Klant</a></li>
        <li><a th:href="@{/login}">Aanmelden</a></li>
        <li sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}" >
                <input type="submit" value="Afmelden">
            </form>
        </li>
    </ul>
    <p sec:authorize="isAuthenticated()">Welkom, <span sec:authentication="name"></span></p>
</nav>

<head th:fragment="managerHead" xmlns:th="http://www.thymeleaf.org">
    <title>Manager</title>
    <link rel="stylesheet" th:href="@{/css/managerStyleSheet.css}">
</head>


<nav th:fragment="managerMenu" xmlns:th="http://www.thymeleaf.org">

    <ul>
        <li><a th:href="@{/manager/nieuwecategorie}">Categorie Toevoegen</a></li>
        <li><a th:href="@{/manager/nieuwesubcategorie}">Subcategorie Toevoegen</a></li>
        <li><a th:href="@{/manager/nieuwesubcategorieeigenschap}">Subcategorie Eigenschap Toevoegen</a></li>
        <li><a th:href="@{/manager/voegmerktoe}">Merk Toevoegen</a></li>
        <li><a th:href="@{/manager/voegmargetoeaansubcategorie}">Voeg Marge Toe Aan Subcategorie</a></li>
        <li><a th:href="@{/manager/voegmargetoeaanmerk}">Voeg Marge Toe Aan Merk</a></li>
    </ul>
</nav>
