<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <style>
        h3 {
            font-family: "Baskerville Old Face", cursive;
        }
        form {
            border: 2px solid pink;
            margin: 0 2rem 2rem;
        }
        form label {
            display: block;
        }
        input[type='submit'] {
            display: block;
        }
    </style>
</head>
<body>
    <h3>Maak categorie</h3>
    <form method="post" th:action="@{/manager/nieuwecategorie}"
          th:object="${categorie}">
        <input type="text" th:field="*{naam}">
        <input type="submit" value="opslaan">
    </form>

    <h3>Maak subcategorie</h3>
    <form method="post" th:action="@{/manager/nieuwesubcategorie}"
          th:object="${subcategorie}">
        <label>
            Kies categorie
            <select name="categorieLijst" id="categorieLijst">
                <option th:each="categorie:${categorieLijst}"
                        th:value="${categorie}"
                        th:field="*{categorie}"
                        th:text="${categorie.naam}"></option>
            </select>
        </label>
        <label>
            naam
            <input type="text" name="subcategorie"  th:field="*{naam}" value="">
        </label>
        <input type="submit" value="opslaan">
    </form>

    <h3>Voeg eigenschap toe</h3>
    <form>
        <label>
            Kies subcategorie
            <select name="subcategorieLijst1" id="subcategorieLijst1">
                <option th:each="subcategorie:${subcategorieLijst}"
                        th:value="${subcategorie}"
                        th:text="${subcategorie.naam}"></option>
            </select>
        </label>
        <label>
            naam
            <input type="text" name="eigenschap">
        </label>
        <input type="submit" value="opslaan">
    </form>

    <h3>Zet marge van de subcategorie</h3>
    <form>
        <label>
            Kies subcategorie
            <select name="subcategorieLijst2" id="subcategorieLijst2">
                <option th:each="subcategorie:${subcategorieLijst}"
                        th:value="${subcategorie}"
                        th:text="${subcategorie.naam}"></option>
            </select>
        </label>
        <label>
            nieuwe marge in geld
            <input type="number" name= "geld">
        </label>
        <label>
            nieuwe marge in percentage
            <input type="number" name= "percentage">
        </label>
        <input type="submit" value="opslaan">
    </form>

    <h3>Zet marge van het merk</h3>
    <form>
        <label>
            Kies merk
            <select name="merk" id="merk">
                <option th:each="merk:${merkLijst}"
                        th:value="${merk}"
                        th:text="${merk}"></option>
            </select>
        </label>
        <label>
            nieuwe marge in geld
            <input type="number" name= "geld">
        </label>
        <label>
            nieuwe marge in percentage
            <input type="number" name= "percentage">
        </label>
        <input type="submit" value="opslaan">
    </form>
</body>
</html>