<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <style>
        h3 {
            font-family: "Baskerville Old Face", cursive;
        }
        form {
            border: 2px solid pink;
            margin: 0 2rem 2rem;
        }
        form label {
            display: block;
        }
        input[type='submit'] {
            display: block;
        }
    </style>
</head>
<body>
    <h3>Maak categorie</h3>
    <form method="post" th:action="@{/manager/nieuwecategorie}"
          th:object="${categorie}">
        <span th:errors="*{naam}"></span>
        <input type="text" th:field="*{naam}" required>
        <input type="submit" value="opslaan">
    </form>

    <h3>Maak subcategorie</h3>
    <form method="post" th:action="@{/manager/nieuwesubcategorie}"
          th:object="${subcategorie}">
        <label>
            Kies categorie
            <span th:errors="*{categorie}"></span>
            <select th:field="*{categorie}">
                <option th:each="categorie:${categorieLijst}"
                        th:value="${categorie.id}"
                        th:text="${categorie}"></option>
            </select>
        </label>
        <label>
            naam
            <span th:errors="*{naam}"></span>
            <input type="text" name="subcategorie"  th:field="*{naam}" value="">
        </label>
        <input type="submit" value="opslaan">
    </form>

    <h3>Voeg eigenschap toe</h3>
    <form method="post" th:action="@{/manager/nieuweeigenschap}"
          th:object="${subcategorieEigenschap}" >
        <label>
            Kies subcategorie
            <span th:errors="*{subcategorie}"></span>
            <select th:field="*{subcategorie}" >
                <option th:each="subcategorie:${subcategorieLijst}"
                        th:value="${subcategorie.id}"
                        th:text="${subcategorie}"></option>
            </select>
        </label>
        <label>
            naam
            <span th:errors="*{naam}"></span>
            <input type="text" name="subcategorieeigenschap"  th:field="*{naam}" value="">
        </label>
        <input type="submit" value="opslaan">
    </form>

    <h3>Zet marge van de subcategorie</h3>
    <form method="post" th:action="@{/manager/voegmargetoeaansubcategorie}"
          th:object="${subcategorieWijziging}">
        <label>
            Kies subcategorie
            <span th:errors="*{id}"></span>
            <select th:field="*{id}">
                <option th:each="subcategorie:${subcategorieLijst}"
                        th:value="${subcategorie.id}"
                        th:text="${subcategorie}"></option>
            </select>
        </label>
        <label>
            nieuwe marge in geld
            <span th:errors="*{minimumMargeBedrag}"></span>
            <input type="number" name= "geld" th:field="*{minimumMargeBedrag}">
        </label>
        <label>
            nieuwe marge in percentage
            <span th:errors="*{minimumMargePercent}"></span>
            <input type="number" name= "percentage" th:field="*{minimumMargePercent}">
        </label>

        <input type="submit" value="opslaan">
    </form>

    <h3>Zet marge van het merk</h3>
    <form method="post" th:action="@{/manager/voegmargetoeaanmerk}"
          th:object="${merkWijziging}">
        <label>
            Kies merk
            <span th:errors="*{id}"></span>
            <select th:field="*{id}">
                <option th:each="merk:${merkLijst}"
                        th:value="${merk.id}"
                        th:text="${merk}"></option>
            </select>
        </label>
        <label>
            nieuwe marge in geld
            <span th:errors="*{minimumMargeBedrag}"></span>
            <input type="number" name= "geld" th:field="*{minimumMargeBedrag}">
        </label>
        <label>
            nieuwe marge in percentage
            <span th:errors="*{minimumMargePercent}"></span>
            <input type="number" name= "percentage" th:field="*{minimumMargePercent}">
        </label>
        <input type="submit" value="opslaan">
    </form>
</body>
</html>