<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Mandje')"/>
<body>
<nav th:replace="fragments::menu"/>
<h1>Mandje</h1>
<table>
    <tr>
        <th>Naam </th>
        <th>Aantal</th>
        <th>Verwijder</th>
    </tr>
    <form method="get" th:action="@{/aantal}">
        <div th:each="regel:${mandjeForm.mandje}" th:object="${regel}">
            <tr>
                <td th:text="*{key.naam}"></td>
                <td th:text="*{value.aantal}"></td><!-- TODO veranderen naar input met value -->
                <!-- TODO checkbox voor verwijderen producten -->
                
            </tr>
        </div>
    </form>
</table>
</body>
</html>