<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::managerHead">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Maak subcategorie</h3>
<form method="post" th:action="@{/manager/nieuwesubcategorie}"
      th:object="${subcategorie}">
    <label>
        Kies categorie
        <span th:errors="*{categorie}"></span>
        <select th:field="*{categorie}">
            <option th:each="categorie:${categorieen}"
                    th:value="${categorie.id}"
                    th:text="${categorie}"></option>
        </select>
    </label>
    <label>
        naam
        <span th:errors="*{naam}"></span>
        <input type="text" name="subcategorie"  th:field="*{naam}" required>
    </label>
    <input type="submit" value="opslaan">
</form>

<h4>Bestaande subcategorieën</h4>
<ul th:class="bestaandecss" class="categorieen">
    <li th:class="categoriecss" th:each="categorie:${categorieen}" th:object="${categorie}" >
        <span th:text="*{naam}"></span>
        <ul class="subcategorieen">
            <li class="subcategoriecss" th:each="subcategorie:${subcategorieen}" th:object="${subcategorie}"
             th:if="${categorie.id == subcategorie.categorie.id}">
                    <span th:text="*{naam}"></span>
            </li>

        </ul>
    </li>
</ul>

</body>
</html>