<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::managerHead">
    <meta charset="UTF-8">
</head>
<body>
    <nav th:replace="fragments::managerMenu"></nav>

    <h3>Maak categorie</h3>
    <form method="post" th:action="@{/manager/nieuwecategorie}"
          th:object="${categorie}">
        <span th:errors="*{naam}"></span>
        <input type="text" th:field="*{naam}" required>
        <input type="submit" value="opslaan">
    </form>

<h4>Bestaande categorieën</h4>
<ul th:class="bestaandecss" class="categorieen">
    <li th:class="subcategoriecss" th:each="categorie:${categorieen}" th:object="${categorie}" >
        <span th:text="*{naam}"></span>
    </li>
</ul>
</body>
</html>