<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>subcategorie</title>
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Maak subcategorie</h3>
<form method="post" th:action="@{/manager/nieuwesubcategorie}"
      th:object="${subcategorie}">
    <label>
        Kies categorie
        <span th:errors="*{categorie}"></span>
        <select th:field="*{categorie}">
            <option th:each="categorie:${categorieLijst}"
                    th:value="${categorie.id}"
                    th:text="${categorie}"></option>
        </select>
    </label>
    <label>
        naam
        <span th:errors="*{naam}"></span>
        <input type="text" name="subcategorie"  th:field="*{naam}" required>
    </label>
    <input type="submit" value="opslaan">
</form>

</body>
</html>