<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Product')">
    <meta charset="UTF-8">
</head>
<body>


<div><h3>Product Zoeken</h3></div>
<form th:object="${productZoekForm}"  method="get" th:action="@{/productZoeken}">


    <label>Naam:<input th:field="*{zoekTerm}" autofocus></label>
    <input type="submit" value="Zoeken">
    <ul>
        <li th:each="gevondenProduct:${gevondenProducten}" th:text="${gevondenProduct.naam}"></li></ul></form>



</body>
</html>