<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::managerHead">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Zet marge van het merk</h3>
<form method="post" th:action="@{/manager/voegmargetoeaanmerk}"
th:object="${merk}">

    <div th:if="${#strings.isEmpty(merkKeuze)}">
<label>
    Kies merk
    <span th:errors="*{id}"></span>
    <select th:field="*{id}">
        <option th:each="merk:${merken}"
                th:value="${merk.id}"
                th:text="${merk}"></option>
    </select>
</label>
<label><input type="submit" value="merkKeuze">
</label>
    </div>
</form>
<form method="post" th:action="@{/manager/voegmargetoeaanmerk/wijzig}"
      th:object="${merkWijziging}">
    <div th:if="${!#strings.isEmpty(merkKeuze)}">
        <span th:text="${merkKeuze}+': '"></span>
    <label>
        nieuwe marge in geld
        <span th:errors="*{minimumMargeBedrag}"></span>
        <input type="number" name= "geld" th:field="*{minimumMargeBedrag}" min=0>
    </label>
    <label>
        nieuwe marge in percentage
        <span th:errors="*{minimumMargePercent}"></span>
        <input type="number" name= "percentage" th:field="*{minimumMargePercent}" min=0>
    </label>
    <input type="submit" value="opslaan">
    </div>
</form>

</body>
</html>