<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::managerHead">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Maak een merk</h3>
<form method="post" th:action="@{/manager/voegmerktoe}"
    th:object="${merk}">
    <label>
        naam
        <span th:errors="*{naam}"></span>
        <input type="text" th:field="*{naam}" required>
    </label>
    <input type="submit" value="opslaan">
</form>

<h4>Bestaande merken</h4>

<ul th:class="bestaandecss"   class="merk">

    <li th:class="subcategoriecss"  th:each="merk:${merken}" th:object="${merk}">
        <span th:text="*{naam}" ></span>
    </li>

</ul>

</body>
</html>