<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voeg marge toe aan subcategorie</title>
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Zet marge van de subcategorie</h3>
<form method="post" th:action="@{/manager/voegmargetoeaansubcategorie}"
      th:object="${subcategorieWijziging}">
    <label>
        Kies subcategorie
        <span th:errors="*{id}"></span>
        <select th:field="*{id}">
            <option th:each="subcategorie:${subcategorieLijst}"
                    th:value="${subcategorie.id}"
                    th:text="${subcategorie}"></option>
        </select>
    </label>
    <label>
        nieuwe marge in geld
        <span th:errors="*{minimumMargeBedrag}"></span>
        <input type="number" name= "geld" th:field="*{minimumMargeBedrag}" min=0>
    </label>
    <label>
        nieuwe marge in percentage
        <span th:errors="*{minimumMargePercent}"></span>
        <input type="number" name= "percentage" th:field="*{minimumMargePercent}" min=0>
    </label>

    <input type="submit" value="opslaan">
</form>
</body>
</html>