<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voeg marge toe aan merk</title>
</head>
<body>
<nav th:replace="fragments::managerMenu"></nav>

<h3>Zet marge van het merk</h3>
<form method="post" th:action="@{/manager/voegmargetoeaanmerk}"
      th:object="${merkWijziging}">
    <label>
        Kies merk
        <span th:errors="*{id}"></span>
        <select th:field="*{id}">
            <option th:each="merk:${merkLijst}"
                    th:value="${merk.id}"
                    th:text="${merk}"></option>
        </select>
    </label>
    <label>
        nieuwe marge in geld
        <span th:errors="*{minimumMargeBedrag}"></span>
        <input type="number" name= "geld" th:field="*{minimumMargeBedrag}" min=0>
    </label>
    <label>
        nieuwe marge in percentage
        <span th:errors="*{minimumMargePercent}"></span>
        <input type="number" name= "percentage" th:field="*{minimumMargePercent}" min=0>
    </label>
    <input type="submit" value="opslaan">
</form>

</body>
</html>